* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-container {
  text-align: center;
  color: white;
  padding: 8px 0;
}

.box {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-color: aquamarine;
  text-align: center;
  line-height: 200px;
  color: white;
}

.boxflex {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxItem {
  width: 0.5em;
  height: 0.5em;
  padding: 1rem;
  background-color: white;
  list-style: none;
  margin: 4px;
}